* {
  box-sizing: border-box;
  cursor: none;!important
}

#profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Turret Road", serif;
  font-weight: 400;
  width: 20%;
  margin: 70px;
  position: absolute;
  top: 0;
}

#bio,
#location,
#highlights,
#organizations,
#sponsors,
#pin {
  color: white;
  margin-top: 20px;
}

#bio {
  margin-top: 50px;
}

#navTab {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  width: 70%;
  margin-left: 21.5%;
  position: absolute;
  top: 0;
}

body {
  background-color: rgb(0, 0, 83);
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 250px 1fr;
  max-height: 100vh;
  margin: 0;
  color: #6cdcec;
  font-size: 1rem;
}

.profImg {
  border-radius: 50%;
  object-fit: cover;
  width: 200px;
  height: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.3);
}

.sponsor {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

#navTab {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  width: 70%;
  margin-left: 400px;
  position: fixed;
  top: 0;
}

header {
  grid-column: 1 / 3;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0e1517;
  z-index: 1;
  align-items: center;
}

main {
  grid-column: 2;
  padding-top: 70px;
  margin-left: 700px; /* Adjust this value for more space */
  margin-top: 70px;
}

section {
  grid-column: 2;
  margin-left: 700px; /* Adjust this value for more space */
  padding: 50px;
  margin-top: 70px;
  color: #f7cd10;
}

input[type="text"] {
  background-color: transparent;
  border: 0.1rem solid #ff0000;
  color: #ff0000;
  width: 200px;
}

#search-bar {
  border-radius: 4px;
  width: 700px;
  margin-left: 20px;
}

.card {
  background-color: #029ac3;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  font-size: 1rem;
  justify-content: center;
  color: #ffba1e;
  gap: 10px;
  margin-bottom: 10px;
}

.github-icon {
  color: #ff0000;
}

.rate-btn {
  background-color: #ff48a5;
  color: #f8f99a;
  display: flex;
  justify-self: flex-end;
  margin-left: 10px;
}

.rate-btn:hover {
  background-color: #ff0081;
}

svg {
  margin-right: 10px;
  vertical-align: middle;
}

aside {
  grid-row: 1 / 3;
  padding: 30px;
  margin-left: 100px;
  margin-top: 70px;
  font-size: 1rem;
}

aside h5 {
  font-size: 1.2rem;
}

h3 {
  color: #59a694;
}

#search-bar::placeholder {
  color: #00CC66; 
}

.custom-cursor {
  position: absolute;
  width: 42px;
  height: 42px;
  pointer-events: none;
  background-image: url("candycursor.png");
  background-size: cover;
  display: none;
  z-index: 999;
}

.peppermint {
  position: absolute;
  width: 200px;
  height: 200px;
  background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9c8a68ea-00bc-4983-949d-d33d4770eea8/d5k94rp-3f0786d8-47e2-4fb9-83ea-80695f128f21.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzljOGE2OGVhLTAwYmMtNDk4My05NDlkLWQzM2Q0NzcwZWVhOFwvZDVrOTRycC0zZjA3ODZkOC00N2UyLTRmYjktODNlYS04MDY5NWYxMjhmMjEuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0._xJ766ty7JEmSxgmUSCHJDut3h0hAWUw21TWWr4v0i8")
    no-repeat center center;
  background-size: contain;
  opacity: 0;
  filter: brightness(0.8) contrast(1.2);
}

footer p {
  color: #ff0081;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

footer {
  grid-column: 1 / span 2;
  display: flex;
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ffb6fc;
  z-index: 1;
}

footer p {
  color: #ff0081;
}

#my-ft {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#music-btn {
  font-size: 2.5rem;
  color: #ff0000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.3);
}

.musicdiv {
  margin-top: 40px;
  background-image: url("https://static1.colliderimages.com/wordpress/wp-content/uploads/2023/10/10-best-songs-in-adventure-time-ranked.jpg");
  background-size: cover;
  height: 100px;
  width: 200px;
  border-radius: 0.5rem;
  cursor: pointer;
  z-index: 10;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.3);
  border-color: #ffba1e;
  border-width: 3px;
  border-style: solid;
}
.musicdiv:hover {
  border-color: #ff0081;
}

.hide {
  display: none;
}

h2 {
  color: white;
  /* border: 1px solid red; */
}

#allPinned {
  color:white;
}
